# Hypothesis Testing: Installs vs Rating

## Hypothesis:

__Null Hypothesis (Ho): There is no association between the rating an App has and its number of installs.__

__Alternative Hypothesis (Ha): There is association between the rating an App has and its number of installs.__

## Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
from datetime import datetime, date
import scipy.stats as stats
import math
import nbimporter
from Helper_Functions import *

%matplotlib inline
sns.set(style = 'darkgrid')

In [2]:
play_store_data = pd.read_csv('../Data/Cleaned_Play_Store_Data.csv')
# Dropping Unnamed Columns
play_store_data.drop(play_store_data.columns[
    play_store_data.columns.str.contains('unnamed', case=False)], axis=1, inplace=True)

## Creating Data Frames to Match Hypothesis Testing

In [56]:
# Creating a DataFrame that compares the amount of installs to their respective counts per individual rating
crosstab = pd.crosstab(play_store_data['Installs'], play_store_data['Rating'].round(1))
crosstab

Rating,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0
Installs,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,0,0,0,0,0,1,...,1,2,3,1,0,0,4,1,0,25
1,9,0,0,0,0,0,0,0,0,0,...,1,2,3,0,2,0,3,2,0,393
5,13,0,0,0,0,0,0,0,0,0,...,0,1,6,1,4,2,1,2,4,583
10,149,0,0,0,0,3,0,0,1,0,...,3,19,41,18,86,19,47,69,45,3360
50,132,0,0,1,0,7,0,1,0,0,...,8,56,45,47,109,54,77,117,72,2466
100,442,0,5,12,3,26,6,17,11,1,...,172,551,514,452,750,552,672,927,610,8262
500,163,1,4,3,2,15,6,16,15,5,...,267,659,590,566,727,764,750,986,653,3691
1000,114,3,12,23,27,34,37,34,58,47,...,1823,2994,2620,3572,3220,4204,3447,4050,2579,4903
5000,5,2,4,6,7,12,11,12,17,20,...,1250,1852,1754,2455,2126,2717,2102,2101,1099,536
10000,1,1,2,1,13,10,17,11,34,37,...,3066,4593,4555,6559,5687,7080,4995,3805,1202,179
50000,2,0,1,1,2,0,2,2,10,4,...,1344,1941,1961,2792,2365,2680,1658,1017,170,7
100000,0,0,0,1,1,2,2,4,11,9,...,2401,3688,3502,4776,3915,4117,2142,1182,172,9
500000,0,0,0,0,0,0,1,0,0,2,...,657,1047,999,1293,931,1040,517,226,38,0
1000000,0,0,0,0,0,0,0,0,0,0,...,957,1477,1323,1573,1184,1203,573,292,41,0
5000000,0,0,0,0,0,0,0,0,0,1,...,208,299,293,383,249,235,103,58,3,0
10000000,0,0,0,0,0,0,0,0,1,1,...,165,321,304,380,274,236,98,43,7,0
50000000,0,0,0,0,0,0,0,0,0,0,...,8,40,48,55,49,31,9,5,0,0
100000000,0,0,0,0,0,0,0,0,0,0,...,4,23,22,41,30,18,2,1,0,0
500000000,0,0,0,0,0,0,0,0,0,0,...,1,1,2,6,1,1,0,1,0,0
1000000000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,1,0,0,0

In [51]:
chi, pval, dof, exp = stats.chi2_contingency(crosstab)
significance = 0.05
print('p-value=%.6f, significance=%.2f\n' % (pval, significance))
if pval < significance:
    print("""At %.2f level of significance, we reject the null hypotheses and accept H1. 
They are not independent.""" % (significance))
else:
    print("""At %.2f level of significance, we accept the null hypotheses. 
They are dependent.""" % (significance))

p-value=0.000000, significance=0.05

At 0.05 level of significance, we reject the null hypotheses and accept H1.
They are not independent.